@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root{
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    background-color: var(--very-light-gray);
}

main{
    display: flex;
    flex-direction: column;
    width: 80%;
}

/* header */
.header{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header__top{
    font-size: 2rem;
    color: var(--very-dark-blue);
    font-weight: 400;
}

.header__bottom{
    font-size: 2rem;
    color: var(--very-dark-blue);
    font-weight: 600;
}

.header__info{
    font-size: 1.1rem;
    color: var(--very-dark-blue);
    font-weight: 200;
    margin: 1.5rem 0;
}

/* Benefits */
.benefits__card{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0.5rem;
    border-top: 0.5rem solid;
    padding: 1.5rem;    
    height: 250px;
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
}

.benefits__card__title{
    color: var(--very-dark-blue);
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.benefits__card__description{
    color: var(--very-dark-blue);
    margin-bottom: 0.5rem;
}

.benefits__card__image{
    width: 70px;
    margin: auto 0 0 auto;
}